{% extends "lojista.html" %}
{% load widget_tweaks %}
{% load thumbnail %}
{% load static %}

{% block content %}

<div class="row">

    <div class="col-lg-10">

        {% if not categoria %}
            <form method="post" action="{% url "categorias:novo" %}" enctype="multipart/form-data">
        {% else %}
            <form method="post" action="{% url "categorias:editar" categoria.uuid %}" enctype="multipart/form-data">
        {% endif %}

            <input name="lojista" type="hidden" value="{{request.lojista.obj_responsavel.pk}}">

            {% csrf_token %}

            <div class="form-group">
                Nome <span class="obrigatorio">*</span><br>
                {% render_field form.nome type="text" required=True class="form-control" %}
                {{ form.nome.errors }}
            </div>

            <div class="form-group">
                <button class="btn-info btn"> Salvar  </button>
            </div>
            
        </form>
        
    </div>
</div>

{% endblock %}
